In [1]:
#importando a biblioteca
import pandas as pd

# Series

In [2]:
#criando um lista simple
data = [1, 2, 3, 4, 5]

In [3]:
#criando uma serie
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#criando o index com linha personalizado
index = ['Linha ' + str(i) for i in range(5)]

In [6]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [7]:
#criando uma seria com rotulos personalizados
s = pd.Series(data = data, index = index)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [11]:
#fazendo de outra forma com dicionário
data = {'Linha' + str(i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [13]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [15]:
#somando series
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [16]:
#somando series com os mesmos indice
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

## lista para dataframe

In [17]:
#criando listas dentro de outra lista
data = [[1, 2, 3], [4, 5, 6,], [7, 8, 9]]

In [18]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
#transformando em dataframe
df1= pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
#criando indice para colocar nome nas linhas
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [23]:
#fazendo a junção do indice com o dataframe
df1= pd.DataFrame(data = data, index = index )
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [27]:
#para colocar nome nas colunas
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [37]:
#fazendo a junção do indice, colunas com o dataframe
df2= pd.DataFrame(data = data, index = index, columns = columns )
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Dicionário para dataframe

In [30]:
#criando dicionario
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [31]:
#transformando o dic data em dataframe
data = pd.DataFrame(data)
data

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [33]:
#criando tupla
data = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [34]:
#fazendo a junção do indice, colunas com o dataframe
df3= pd.DataFrame(data = data, index = index, columns = columns )
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [35]:
#fazendo comparações
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [38]:
#fazendo comparações
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [39]:
#fazendo comparações
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [40]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [42]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [43]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

C:\Users\Leonardo Oliveira\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0